{% extends 'flatpages/default.html' %}

{% block title %}
Register
{% endblock title %}

{% block content %}
<section class="characters-section character-one">
		<div style="display: block; align-items: center">
					<div class="character-info" style="color: green">
                        <h2>Регистрация</h2>
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Продолжить">
                        </form>
                </div>
        </div>
</section>
{% endblock %}