{% extends 'flatpages/default.html' %}

{% block title %}
Account
{% endblock title %}


{% block content %}
<div style="margin-top: 20px">
    <div class="character-info" style="margin-bottom: 40px">
        <h2 style="display: inline-block">User <span style="color: green">{{request.user.username}}</span></h2>
        <a href="{% url 'account_posts' %}" class="site-btn" style="display: inline-block; margin-left: 90px;">My Posts</a>
        <h5>Name: <span style="color: green">{{ request.user.first_name }}</span></h5>
        <h5>Surname: <span style="color: green">{{ request.user.last_name }}</span></h5>
        <h5>Email: <span style="color: green">{{ request.user.email }}</span></h5>
    </div>
    <div class="sb-widget">
        <h3 style="color:white">Поиск</h3>
        <form class="sb-search", method="get">
            {{ filterset.form.as_p }}
            <input type="submit" placeholder="Search">
        </form>
        </div>
        {% for response in myresponses%}
        <div class="blog-post featured-post" style="margin-bottom: 20px">
            <div class="post-date" style="margin-bottom: 5px">{{ response.time_in|date:'M d, Y' }}</div>
            <h3>{{ response.post }}</h3>
            <div class="post-metas" style="margin-bottom: 15px">
                <div class="post-meta">By {{ response.author }}</div>
            </div>
            <p style="color: white; margin-bottom: 15px">{{ response.text|truncatechars:120 }}</p>
            {% if response.accepted %}
            <p>accepted: <span style="color: green">{{ response.accepted }}</span></p>
            {% else %}
            <p>accepted: <span style="color: red">{{ response.accepted }}</span>
                <a href="{% url 'account_posts' %}" class="site-btn" style="display: inline-block; margin-left: 30px; background:green; padding: 8px 15px">Acceptd</a>
                <a href="{% url 'account_posts' %}" class="site-btn" style="display: inline-block; margin-left: 30px; background:red; padding: 8px 15px">Delete</a>
            </p>
            {% endif %}
        </div>
        {% endfor %}
</div>
{% endblock %}