{% extends 'flatpages/default.html' %} 
{% load custom_filters %}

{% block title %}
My Posts
{% endblock title %}
 

{% block content %}
<div class="row" style="margin-top: 30px">
{% if myposts %}

        <div style="display: inline-block; width: 70%"> <!--style="display: inline-block">-->
            {% for post in myposts %}
                <div class="blog-post featured-post">
                    <div class="post-date">{{ post.time_in|date:'M d, Y' }}</div>
                    <h3>{{ post.name }}</h3>
                    <div class="post-metas">
                        <div class="post-meta">By {{ post.author }}</div>
                        <div class="post-meta">in <a href="#">
                        {% for category in post.category.all %}
                            {{ category }} {% if not forloop.last %}, {% endif %}
                            {% endfor %}</a></div>
                        <div class="post-meta">Responses ({{ post.id|len_responses }})</div>
                    </div>
                    <p>{{ post.text|truncatechars:60 }}</p>
                    <a href="http://127.0.0.1:8000/posts/{{ post.id }}" class="site-btn">Read More</a>
                </div>
            {% endfor %}
        </div>

{% else %}
        <div style="display: inline-block; width: 70%">
            <div class="blog-post featured-post">
                <div class="post-metas">
                    <h2 style="color: green; margin: 20px; ">Публикаций нет</h2>
                </div>
            </div>
        </div>
{% endif %}
    <div style="display: inline-block; width: 30%">
        <a href="/posts/create" class="site-btn" style="padding: 21px 35%; margin-bottom: 20px">Publish post</a>
        <div class="sb-widget">
            <h3 style="color:white">Поиск</h3>
            <form class="sb-search", method="get">
                {{ filterset.form.as_p }}
                <input type="submit" placeholder="Search">
            </form>
        </div>
    </div>
</div>
{% endblock content %}