{% extends 'flatpages/default.html' %} 
 

{% block title %}
Post
{% endblock title %}


{% block content %}
<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-post single-post">
						<div class="post-date">{{ post.time_in|date:'M d, Y' }}</div>
						<h3>{{ post.name }}</h3>
						<div class="post-metas">
							<div class="post-meta">By {{ post.author }}</div>
							<div class="post-meta">in <a href="#">{% for category in post.category.all %}
                    {{ category }} {% if not forloop.last %}, {% endif %}
                {% endfor %}</a></div>
							<div class="post-meta">3 Responses</div>
						</div>
						<p>{{ post.text }}</p>
						<a href="{{ post.id }}/update" class="site-btn">Update post</a>
						<a href="{{ post.id }}/delete" class="site-btn">Delete post</a>
						<div class="comments">
							{% if responses %}
							<h5>Responses ({{ responses|length }})</h5>
							<ul class="comments-list">
							{% for response in responses %}
								<li>
									<div class="comment-text">
										<h6>{{ response.author }}</h6>
										<div class="comment-date">{{ response.time_in|date:'M d, Y' }}</div>
										<p>{{ response.text }}</p>
									</div>
								</li>
								{% endfor %}
							</ul>
							{% else %}
							<h5>Откликов нет</h5>
							{% endif %}
							<h5>Leave a responses</h5>
							<form class="comment-form" method="post">
								<div class="row">
									<div class="col-md-6">
										<!--<form method="post">-->
    										{% csrf_token %}
    										{{ form.as_p }}
    										<input type="submit" value="Save" />
										<!--</form>-->
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}