{% extends 'flatpages/default.html' %}


{% block title %}
Posts
{% endblock title %}


{% block content %}
<!--<h1>All posts</h1>-->
{% for post in posts %}
<div class="blog-post featured-post">
    <div class="post-date">{{ post.time_in|date:'M d, Y' }}</div>
    <h3>{{ post.name }}</h3>
    <div class="post-metas">
        <div class="post-meta">By {{ post.author }}</div>
        <div class="post-meta">in <a href="#">{% for category in post.category.all %}
                    {{ category }} {% if not forloop.last %}, {% endif %}
                {% endfor %}</a></div>
        <div class="post-meta">3 Responses</div>
    </div>
    <p>{{ post.text|truncatechars:60 }}</p>
    <a href="{{ post.id }}" class="site-btn">Read More</a>
</div>
{% endfor %}
<div class="sb-widget">
    <form class="sb-search">
        <input type="text" placeholder="Search">
    </form>
</div>
{% endblock content %}