{% extends 'flatpages/default.html' %} 
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}


{% block content %}
<section class="blog-section spad">
		<div class="container">
				<div class="col-lg-8" style="max-width:100%">
					<div class="blog-post single-post">
						<div class="post-date">{{ post.time_in|date:'M d, Y' }}</div>
						<h3>{{ post.name }}</h3>
						<div class="post-metas">
							<div class="post-meta">By
								<a href="/posts/?author={{ post.author }}&name=&category=&time_in="> {{ post.author }}</a></div>
							<div class="post-meta">in
								{% for category in post.category.all %}
                        		<a href="/posts/?author=&name=&category={{ category }}&time_in=">
                            	{{ category }} {% if not forloop.last %}, {% endif %}
                        		{% endfor %}</a></div>
							<div class="post-meta">Responses ({{ post|len_responses }})</div>
						</div>
						<p>{{ post.text|safe  }}</p>
						{% if request.user == post.author %}
						<a href="{{ post.id }}/update" class="site-btn">Update post</a>
						<a href="{{ post.id }}/delete" class="site-btn" style="background:red; color:white">Delete post</a>
						{% endif %}
						<div class="comments">
							{% if responses %}
							<h5>Responses ({{ responses|length }})</h5>
							<ul class="comments-list">
							{% for response in responses %}
								{% if response.accepted == True %}
								<li>
									<div class="comment-text">
										<h6>{{ response.author }}</h6>
										<div class="comment-date">{{ response.time_in|date:'M d, Y' }}</div>
										<p>{{ response.text }}</p>
									</div>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							{% else %}
							<h5>Откликов нет</h5>
							{% endif %}
							<h5>Leave a responses</h5>
							<form class="comment-form" method="post">
									<div class="col-md-6" style="max-width:100%; padding: 0">
    										{% csrf_token %}
    										{{ form.as_p }}
    										<input type="submit" value="Save" />
									</div>
							</form>
						</div>
					</div>
				</div>
		</div>
	</section>
{% endblock content %}